@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, mytheme --prefersdark, sunset;
};
html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
}



body {
  font-family: 'Albert Sans';
  font-size: 1rem;
}
.btn-default {
  border:none;
  background-color: transparent;
  padding: 1rem 1rem;
  border-radius: 50px;
  
}
.btn-default:hover {
  background-color: #3C3C3C;

}
.card-glass {
  @apply backdrop-blur border border-white/20  bg-white/5 p-5 rounded-xl  shadow-xl
}


.card-glass:hover{
  @apply border-white/40 bg-white/10 scale-110 transition-transform duration-300
}

.nav-glass {
  @apply backdrop-blur border border-white/20  bg-white/5 p-5 rounded-full  shadow-xl
}

.image-project {
  @apply rounded-4xl max-h-[70vh] backdrop-blur border border-white/20  bg-white/5 p-5 rounded-xl  shadow-xl

}
.image-project:hover {
  @apply scale-110 transition-transform duration-300
}
.btn-gradient {
    background: linear-gradient(135deg, var(--color-secondary), var(--color-primary), var(--color-accent));
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: 1px solid transparent;
}
.btn-gradient:hover {
  border: 1px solid white;
}
.btn-gradient-border{
  border: 3px solid transparent;
  background: linear-gradient(var(--color-base-100), var(--color-base-100)) padding-box,
              linear-gradient(135deg, var(--color-secondary), var(--color-primary), var(--color-accent)) border-box;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;

}
.btn-gradient-border-mobile{
  border: 3px solid transparent;
  background: linear-gradient(var(--color-base-100), var(--color-base-100)) padding-box,
              linear-gradient(135deg, var(--color-secondary), var(--color-primary), var(--color-accent)) border-box;
  border-radius: 50px;
  padding: 0.5rem 1rem;

}
@utility gradient-brand {
  background: linear-gradient(135deg, var(--color-secondary), var(--color-primary), var(--color-accent));
};

@utility gradient-brand-text {
  background: linear-gradient(135deg, var(--color-secondary), var(--color-primary), var(--color-accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip : text;
}

@utility gradient-brand-border
{
  border: 3px solid transparent;
  background: linear-gradient(var(--color-base-100), var(--color-base-100)) padding-box,
              linear-gradient(135deg, var(--color-secondary), var(--color-primary), var(--color-accent)) border-box;

}
@utility gradient-border-nav
{
  border: 2px solid transparent;
  background: linear-gradient(var(--color-base-100), var(--color-base-100)) padding-box,
              linear-gradient(135deg, var(--color-secondary), var(--color-primary), var(--color-accent)) border-box;

}

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: oklch(0.235 0 129.63);
  --color-base-200: oklch(0.2891 0 0);
  --color-base-300: oklch(0.2891 0 0);
  --color-base-content: oklch(0.9761 0 0);
  --color-primary: oklch(0.679 0.211 17.54);
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: oklch(0.686 0.247 349.29);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(0.7981 0.1468 62.7);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}
